{% extends "base.html" %}
{% load static %}
{% block context %}    
    <style>
        body {
            background-color: #f8f9fa; /* Light gray background */
        }
        .header-banner {
            background-color: #007bff; /* Blue background */
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        .details-page{
            padding : 20px 0px;
            background-color: hsl(0, 0%, 99%);
        }
        .details-product-wrapper{
            width : 90%;
            max-width : 1200px;
            margin : 0px auto;
        }
        .details-main-content{
            /* display : flex;
            justify-content: space-between; */
        }
        /* .details-main-content .col{
            width: 49%;
        } */
        .rating {
            color: #ffc107; /* Gold star color */
            font-size: 1.5rem;
        }
        .rating .fa-star {
            margin-right: 5px;
        }
        .experience-img {
            max-height: 400px;
            object-fit: cover;
            width: 100%;
        }
        .details-card {
            /* background-color: white; */
            border-radius: 10px;
            padding: 0px 20px 20px 0px;
            /* border: 1px solid hsla(0, 0%, 10%, .3); */
            /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
        }
        .details-card h4{
            margin: 0;
            font-size : 1.8rem;
            line-height: 100%;
        }
        .details-card p{
            margin-top: 5px;
            margin-bottom: 12px;
        }
        .booking-section {
            background-color: #f1f1f1;
            padding: 0px;
            border-radius: 10px;
            box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, .1);
        }
        .Booking-head{
            font-size: 1.5rem;
            text-align: center;
            background-color: hsl(0, 0%, 30%);
            color : hsl(0, 0%, 97%);
            padding: 10px 12px;
            margin : 0;
        }
        .booking-section-details{
            padding : 0px 10px 20px;
            background-color: hsl(0, 0%, 100%);
        }
        .btn-pay {
            /* border-color: #28a745; */
            color: hsl(0, 0%, 97%);
            display: block;
            margin-top: 20px;
            text-align: center;
            padding :7px;
            border-radius: 10px;
            font-size: 1.1rem;
        }

        .btn-pay.pal{
            background-color: hsl(221, 94%, 43%);
        }

        .btn-pay.pal:hover{
            background-color: hsl(221, 94%, 33%);
        }

        .btn-pay.ray{
            background-color: hsl(273, 95%, 36%);
        }

        .btn-pay.ray:hover{
            background-color: hsl(273, 95%, 26%);
        }
      
        .requirement-item {
            margin-bottom: 10px;
        }
      
        .list-group{
            /* background-color: hsl(0, 0%, 100%); */
            /* border-radius: 7px; */
            /* margin-top: 15px; */
        }

        .list-group-item{
            padding : 5px 12px;
        }
        .list-group-item{
            border-top: 1px solid hsla(0,0%,10%,.1);
            border-bottom: 1px solid hsla(0,0%,10%,.1);
        }
        .group-item-name{
            color : hsla(0,0%,10%,.9);
            font-size: 1.2rem;
        }
        .group-item-value{
            font-size :1.1rem;
            color: hsla(0,0%,10%,.7);
        }
        .product-desc-container{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        
        .product-desc-container .details-info-wrapper{
            width: 65%;
        }

        .product-desc-container .details-info-wrapper .details-card{
            padding-right : 0;
        }
        .product-desc-container .booking-section-container{
            width : 33%;
        }
        .badge{
            background-color: #007bff;
            color : hsl(0, 0%, 97%);
            padding : 5px 10px;
            border-radius: 5px;
            margin-top: 5px;
        }
        .details-info-container{
            margin-top: 20px;
        }
        .details-info-container .details-card p{
            margin-top: 0;
        }
        .details-info-container .details-card p.contact-text{
            margin-block: 15px;
        }
        .header-banner-head{
            margin-bottom: 5px;
        }
        .price-text{
            font-size: 2rem;
            margin-top: 0;
        }
    </style>


    <!-- Header Banner -->
    
    <div class="details-page">
        <!-- Main Content -->
        <div class="details-product-wrapper my-5">
            <div class="experience-title-div ">
                <p class = "experience-title-text">{{ experience.title }}</p>
                <!-- <p>Hosted by {{ experience.vendor.user.username }} | Located at {{ experience.location }}</p> -->
                <div class="experience-li_details-div flex gp-10">
                    <span class="rating-span li_details-span flex gp-5">
                        <img src="{% static 'img/favourite-svg.svg' %}" alt="favorite icon from svgrepo">
                        <span class = "li_details-text"><strong>4.5</strong>(1.5k)reviews</span>
                    </span>

                    <span class="location-span li_details-span flex gp-5">
                        <img src="{% static 'img/location.svg' %}" alt="location icon from svgrepo">
                        <span class = "li_details-text">{{ experience.location }}</span>
                    </span>
                </div>
            </div>

            <div class="details-main-content">
                <!-- Experience Image -->
                <div class="details-img-container">
                    {% if experience.images %}
                    <img src="{{ experience.images.url }}" class="img-fluid experience-img rounded mb-4" alt="{{ experience.title }}">
                    {% else %}
                    <img src="default-image.jpg" class="img-fluid experience-img rounded mb-4" alt="No Image Available">
                    {% endif %}
                </div>
                
                <!-- Description and Details -->
                <div class="product-desc-container mt-5">
                    <div class="details-info-wrapper">
                        <div class="details-card">
                            <h4>Description</h4>
                            <p>{{ experience.description }}
                            </p>
                            <h4>What to Bring</h4>
                            <p>{{ experience.what_to_bring|default:"Not specified" }}
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas odit, modi rem explicabo hic quas eius nemo nesciunt aspernatur temporibus, id pariatur ratione nobis, voluptatum sit! Velit amet perspiciatis eum mollitia deleniti nam modi laboriosam provident exercitationem officia aperiam itaque voluptatum totam, quidem neque eligendi ratione necessitatibus voluptate cum saepe, nobis iusto ab. Assumenda a quaerat quidem incidunt repellat?
                            </p>
                            <h4>Special Requirements</h4>
                            <p>{{ experience.requirements|default:"None" }} </p>
                        </div>

                        <div class="details-info-container mt-5">
                            <div class="details-info-div">
                                <div class="details-card">
                                    <h4>About the Host</h4>
                                    <p>{{ experience.vendor.business_name }} offers this unique experience in {{ experience.location }}. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit ipsam expedita dicta facilis quae non, incidunt minima in laboriosam dolores maiores exercitationem culpa nemo labore dolorem eveniet sequi eaque perspiciatis? Nisi minima dolore eius architecto laudantium officia necessitatibus cumque maiores et consequatur mollitia esse magni sapiente eos sunt deleniti quo, reprehenderit facere incidunt eaque adipisci repudiandae? Aliquam iure natus distinctio!</p>
                                    <p class = "contact-text"><strong>Contact Information:</strong> {{ experience.vendor.contact_info }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Booking Information -->
                    <div class="booking-section-container">
                        <div class="booking-section">
                            <h3 class="Booking-head text-center mb-3">Book This Experience</h3>
                            <div class="booking-section-details">
                                <h3 class="price-text">${{ experience.price }}</h3>
                                <div class="list-group">
                                  

                                    <div class="list-group-item">
                                        <h4 class = "group-item-name">Start Date:</h4>
                                        <p class = "group-item-value">{{ experience.start_date }}</p>
                                    </div>

                                    <div class="list-group-item">
                                        <h4 class = "group-item-name">End Date:</h4>
                                        <p class = "group-item-value">{{ experience.end_date }}</p>
                                    </div>

                                    <div class="list-group-item">
                                        <h4 class = "group-item-name">Duration:</h4>
                                        <p class = "group-item-value">{{ experience.duration }}</p>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <a href="{% url 'create_paypal_order' experience.id %}" class="btn btn-pay pal">Pay with Paypal</a>
                                    <a href="{% url 'experience_payment' experience.id %}" class="btn btn-pay ray">Pay with RazorPay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="comment-system">
                    <h3>Leave a review</h3>
                    <div class="comment util-form-container">
                        <form class ="comment-form" method="post">
                            {% csrf_token %}
                            <div class="form-control-container">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            
                            <div class="form-control-container">
                                <label for="message" class="form-label">Message</label>
                                <textarea name= "message" class="form-control" id="message" rows="4" required></textarea>
                            </div>

                            <div class="form-control-container">
                                <label for="rating" class="form-label">Rating</label>
                                <div class="rating-div">
                                    <input type="radio" id="star5" name="rating" value="5" required><label for="star5" title="5 stars">★</label>
                                    <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="4 stars">★</label>
                                    <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="3 stars">★</label>
                                    <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="2 stars">★</label>
                                    <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="1 star">★</label>                        
                                </div>
                            </div>
                            <button type="submit" class="submit-btn btn btn-black">Send Message</button>
                        </form>
                    </div>

                    <h3><strong>Reviews</strong></h3>
                    <div class="review-container">
                        
                    </div>
                </div>
            </div>

           
        </div>
        <div class="chat-system-container">
            <div class="chat-box-container">
                <div class="chat-header flex-center">
                    <span>Customer</span>
                </div>
                <div class="chat-main"></div>
                <div class="chat-form-container">
                    <form class = "chat-form" action="">
                        <input type="text" placeholder="Enter a message" class="chat-input">
                        <button type = "button" class="submit-chat flex-center">
                            <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                            <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.5003 12H5.41872M5.24634 12.7972L4.24158 15.7986C3.69128 17.4424 3.41613 18.2643 3.61359 18.7704C3.78506 19.21 4.15335 19.5432 4.6078 19.6701C5.13111 19.8161 5.92151 19.4604 7.50231 18.7491L17.6367 14.1886C19.1797 13.4942 19.9512 13.1471 20.1896 12.6648C20.3968 12.2458 20.3968 11.7541 20.1896 11.3351C19.9512 10.8529 19.1797 10.5057 17.6367 9.81135L7.48483 5.24303C5.90879 4.53382 5.12078 4.17921 4.59799 4.32468C4.14397 4.45101 3.77572 4.78336 3.60365 5.22209C3.40551 5.72728 3.67772 6.54741 4.22215 8.18767L5.24829 11.2793C5.34179 11.561 5.38855 11.7019 5.407 11.8459C5.42338 11.9738 5.42321 12.1032 5.40651 12.231C5.38768 12.375 5.34057 12.5157 5.24634 12.7972Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>

            <a href = "{% url 'chat' experience.id %}" class="chat-cta flex-center">
                <img src="{% static 'img/chat-icon.svg' %}" alt="chat icon">
            </a>
        </div>
    </div>

    <!-- Footer -->
    <!-- <footer class="text-center mt-5">
        <p>&copy; 2024 Experience Booking Platform</p>
    </footer> -->
    {% endblock context %}
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> -->

