{% extends "base.html" %}
{% load static %}
{% block context %}
    <style>
        body {
            background-color: #f8f9fa; /* Light gray background */
        }
        .header-banner {
            background-color: #007bff; /* Blue background */
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        .details-page{
            padding : 20px 0px;
            background-color: hsl(0, 0%, 99%);
        }
        .details-product-wrapper{
            width : 90%;
            max-width : 1200px;
            margin : 0px auto;
        }
        .details-main-content{
            /* display : flex;
            justify-content: space-between; */
        }
        /* .details-main-content .col{
            width: 49%;
        } */
        .rating {
            color: #ffc107; /* Gold star color */
            font-size: 1.5rem;
        }
        .rating .fa-star {
            margin-right: 5px;
        }
        .experience-img {
            max-height: 400px;
            object-fit: cover;
            width: 100%;
            border-radius: 10px;
        }
        .details-card {
            /* background-color: white; */
            /* border-radius: 10px; */
            padding: 30px 20px 10px 0px;
            /* border: 1px solid hsla(0, 0%, 10%, .3); */
            /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
        }
        /* .details-card h4{
            margin: 0;
            font-size : 1.8rem;
            line-height: 100%;
        } */
        /* .details-card p{
            margin-top: 5px;
            /* margin-bottom: 12px; 
        } */
        .booking-section {
            background-color: #f1f1f1;
            padding: 0px;
            border-radius: 10px;
            box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, .1);
        }
        .Booking-head{
            font-size: 1.5rem;
            text-align: center;
            background-color: hsl(0, 0%, 30%);
            color : hsl(0, 0%, 97%);
            padding: 10px 12px;
            margin : 0;
        }
        .booking-section-details{
            padding : 20px;
            background-color: hsl(0, 0%, 100%);
        }
        .btn-pay {
            /* border-color: #28a745; */
            color: hsl(0, 0%, 97%);
            display: block;
            margin-top: 20px;
            text-align: center;
            padding :7px;
            border-radius: 10px;
            font-size: 1.1rem;
        }

        .btn-pay.pal{
            background-color: hsl(221, 94%, 43%);
        }

        .btn-pay.pal:hover{
            background-color: hsl(221, 94%, 33%);
        }

        .btn-pay.ray{
            background-color: hsl(273, 95%, 36%);
        }

        .btn-pay.ray:hover{
            background-color: hsl(273, 95%, 26%);
        }
      
        .requirement-item {
            margin-bottom: 10px;
        }
      
        .list-group{
            /* background-color: hsl(0, 0%, 100%); */
            /* border-radius: 7px; */
            /* margin-top: 15px; */
        }

        .group-item-name{
            color : hsla(0,0%,10%,.9);
            font-size: 1.2rem;
        }
        .group-item-value{
            font-size :1.1rem;
            color: hsla(0,0%,10%,.7);
        }
        .product-desc-container{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        
        .product-desc-container .details-info-wrapper{
            width: 65%;
        }

        .product-desc-container .details-info-wrapper .details-card{
            padding-right : 0;
        }
        .product-desc-container .booking-section-container{
            width : 33%;
        }
        .badge{
            background-color: #007bff;
            color : hsl(0, 0%, 97%);
            padding : 5px 10px;
            border-radius: 5px;
            margin-top: 5px;
        }
        /* .details-info-container{
            margin-top: 20px;
        } */
        .details-info-container .details-card p{
            margin-top: 0;
        }
        .details-info-container .details-card p.contact-text{
            margin-block: 15px;
        }
        .header-banner-head{
            margin-bottom: 5px;
        }
        .price-text{
            font-size: 2rem;
            margin: 0;
            line-height: 100%;
        }
        .price-text span{
            font-weight : 400;
            font-size: 1.3rem;
            color : hsl(0, 0%, 30%)
        } 
        span.line-link{
            color : hsl(0, 0%, 30%);
        }
        span.line-link:hover{
            color : hsl(0, 0%, 30%);
        }
        .review-container-head{
            margin-top: 30px;
        }

        #map{
            width : 100%;
            height : 400px;
            border-radius: 10px;
            margin: 20px 0px;
        }

        .cta-group{
            width : 100%;
            border: 1px solid rgba(0, 0, 0, .3);
            border-radius : 10px;
            margin-top: 30px;
        }
        .list-group-item{
            width : 50%;
            position: relative;
            cursor : pointer;
        }
        .list-group-item:first-of-type{
            border-right : 1px solid rgba(0, 0, 0, .3);
        }
        .list-group-item .flex-between{
            align-items: center;
        }
        .group-item-name{
            font-size: .85rem;
            font-weight : bold;
            color : hsl(0, 0%, 20%)
        }
        .time-schedule-group{
            padding: 30px 0px;
            border-bottom : 1px solid rgba(0, 0, 0, .2);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px
        }
        .schedule-cta-div .choose-link{
            padding: 5px 25px;
            background-color : hsl(0, 0%, 20%);
        }
        .schedule-cta-div .choose-link:hover{
            background-color : hsl(0, 0%, 30%); 
        }
        .sim-exp-card{
            max-width : 400px;
        }
        .sim-exp-img{
            height : 300px;
            border-radius: 10px;
            object-fit: cover;
            margin-top: 10px;
        }
        .sim-exp-card .price-text{
            font-size: 1.3rem;
        }
        .sim-exp-card .price-text span{
            font-size: 1.2rem;
        }
        .sim-exp-card .textcontent{
            margin-top: 10px;
        }
        .sim-exp-card .mac-light-text{
            margin: 5px 0px;
        }
    </style>


    <!-- Header Banner -->
    
    <div class="details-page">
        <!-- Main Content -->
        <div class="details-product-wrapper my-5">
            <div class="experience-title-div ">
                <p class = "experience-title-text">{{ experience.title }}</p>
                <!-- <p>Hosted by {{ experience.vendor.user.username }} | Located at {{ experience.location }}</p> -->
                <div class="experience-li_details-div flex gp-10">
                    <span class="rating-span li_details-span flex gp-5">
                        <img src="{% static 'img/favourite-svg.svg' %}" alt="favorite icon from svgrepo">
                        <span class = "li_details-text"><strong>4.5</strong>(1.5k)reviews</span>
                    </span>

                    <span class="location-span li_details-span flex gp-5">
                        <img src="{% static 'img/location.svg' %}" alt="location icon from svgrepo">
                        <span class = "li_details-text">{{ experience.location }}</span>
                    </span>
                </div>
            </div>

            <div class="details-main-content">
                <!-- Experience Image -->
                <div class="details-img-container">
                    {% if experience.images %}
                    <img src="{{ experience.images.url }}" class="img-fluid experience-img rounded mb-4" alt="{{ experience.title }}">
                    {% else %}
                    <img src="default-image.jpg" class="img-fluid experience-img rounded mb-4" alt="No Image Available">
                    {% endif %}
                </div>
                
                <!-- Description and Details -->
                <div class="product-desc-container mt-5">
                    <div class="details-info-wrapper ">
                        <div class="details-card">
                            <div class="experience-details_profile flex-between">
                                <div class="experience-details_profile-textcontent">
                                    <h4 class = "page-mini-head">Experience hosted by Jd</h4>
                                    <p class = "mac-light-text">3 hours . Hosted in English</p>
                                </div>
    
                                <img src="{% static 'img/pic-2.jpg' %}" alt="" class="profile-img">
                            </div>

                            <div class="details-ratinginfo-wrapper flex-column gp-15">
                                <div class="event-lf-div flex gp-15">
                                    <img src="{% static 'img/stars-star.svg' %}" alt="" class="event-lf-icon">
                                    <div class="textcontent">
                                        <h5 class = "page-mini-h5-head">Once-in-a-lifetime</h5>
                                        <p class = "mac-light-text">Guests say its special and unique</p>
                                    </div>
                                </div>

                                <div class="event-lf-div flex gp-15">
                                    <img src="{% static 'img/star-unfill.svg' %}" alt="" class="event-lf-icon">
                                    <div class="textcontent">
                                        <h5 class = "page-mini-h5-head">Once-in-a-lifetime</h5>
                                        <p class = "mac-light-text">Guests say its special and unique</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="details-card">
                            <h4 class = "page-mini-head">What you will do</h4>
                            <p>{{ experience.what_to_bring|default:"Not specified" }}
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas odit, modi rem explicabo hic quas eius nemo nesciunt aspernatur temporibus, id pariatur ratione nobis, voluptatum sit! Velit amet perspiciatis eum mollitia deleniti nam modi laboriosam provident exercitationem officia aperiam itaque voluptatum totam, quidem neque eligendi ratione necessitatibus voluptate cum saepe, nobis iusto ab. Assumenda a quaerat quidem incidunt repellat?
                            </p>
                            <div class="highlights-container mt">
                                <h4 class = "highlight-subhead">Highlights</h4>
                                <ul>
                                    <li class="highlight-items">.TASTE Different Variety of TRIED & TESTED for Safety INDIAN STREET FOOD & Learn About It's History & INGREDIENTS</li>
                                    <li class="highlight-items">Visit ASIA"S LARGEST SPICE MARKET</li>
                                    <li class="highlight-items">Visit a Secret Spice Mansion</li>
                                    <li class="highlight-items"> See RED FORT From outside</li>
                                </ul>
                            </div>
                        </div>

                        <div class="details-card">
                            <h4 class = "page-mini-head">What's included</h4>
                            <!-- <p>{{ experience.requirements|default:"None" }} </p> -->

                            <div class="included-items-wrapper grid gp-15">
                                <div class="included items-card">
                                    <img src="{% static 'img/food.svg' %}" alt="Food icon svg source: svgrepo.com" class="included-items-icon">
                                    <h5 class="page-mini-h5-head">Food</h5>
                                    <ul class="items-list">
                                        <li>-Jalebi</li>
                                        <li>-Samosa with Mint & coriander Chutney</li>
                                        <li>-Chole Bhature</li>
                                    </ul>
                                </div>

                                <div class="included items-card">
                                    <img src="{% static 'img/drink.svg' %}" alt="drink icon svg source: svgrepo.com" class="included-items-icon">
                                    <h5 class="page-mini-h5-head">Drinks</h5>
                                    <ul class="items-list">
                                        <li>Lassi or Chai (Indian Tea) and mineral water</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="details-card">
                            <div class="meet-host-profile-container flex gp-20">
                                <img src="{% static 'img/pic-2.jpg' %}" alt="Host profile picture" class="meet-host profile-img">
                                <div class="textcontent">
                                    <h4 class="page-mini-head">Meet your host, Jd</h4>
                                    <p class="mac-light-text">Host on Airbnb since 2017</p>
                                </div>
                            </div>

                            <div class="meet-group-container mt flex gp-20">
                                <div class="group-icon flex gp-10">
                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
                                    <svg fill="#000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 126.729 126.73" xml:space="preserve">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                        <g id="SVGRepo_iconCarrier"> <g> <path d="M121.215,44.212l-34.899-3.3c-2.2-0.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101,0l-12.4,30.3 c-0.8,2.1-2.8,3.5-5,3.7l-34.9,3.3c-5.2,0.5-7.3,7-3.4,10.5l26.3,23.1c1.7,1.5,2.4,3.7,1.9,5.9l-7.9,32.399 c-1.2,5.101,4.3,9.3,8.9,6.601l29.1-17.101c1.9-1.1,4.2-1.1,6.1,0l29.101,17.101c4.6,2.699,10.1-1.4,8.899-6.601l-7.8-32.399 c-0.5-2.2,0.2-4.4,1.9-5.9l26.3-23.1C128.615,51.212,126.415,44.712,121.215,44.212z"/> </g> </g>
                                    </svg>
                                    <span>870 Reviews</span>
                                </div>

                                <div class="group-icon flex gp-10">
                                    <img src="{% static 'img/verified.svg' %}" alt="verified icon">
                                    <span>Identity verified</span>
                                </div>
                            </div>

                            <p class="mt host-profile-textcontent">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolore corporis ex doloribus sunt omnis temporibus cupiditate ullam labore quis dolorum eius iusto beatae, sed possimus eligendi. Incidunt consectetur officiis sequi quibusdam harum! Dolor ipsum harum non deserunt aut inventore!
                            </p>

                            <a href="#" class="contact-host-link mt">Contact host</a>
                        </div>

                     
                        {% comment %}
                        <div class="details-info-container mt-5">
                            <div class="details-info-div">
                                <div class="details-card">
                                    <h4>About the Host</h4>
                                    <p>{{ experience.vendor.business_name }} offers this unique experience in {{ experience.location }}. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit ipsam expedita dicta facilis quae non, incidunt minima in laboriosam dolores maiores exercitationem culpa nemo labore dolorem eveniet sequi eaque perspiciatis? Nisi minima dolore eius architecto laudantium officia necessitatibus cumque maiores et consequatur mollitia esse magni sapiente eos sunt deleniti quo, reprehenderit facere incidunt eaque adipisci repudiandae? Aliquam iure natus distinctio!</p>
                                    <p class = "contact-text"><strong>Contact Information:</strong> {{ experience.vendor.contact_info }}</p>
                                </div>
                            </div>
                        </div>
                        {% endcomment %}
                    </div>
                    <!-- Booking Information -->
                    <div class="booking-section-container">
                        <div class="booking-section">
                            <!-- <h3 class="Booking-head text-center mb-3">Book This Experience</h3> -->
                            <div class="booking-section-details">
                                <h3 class="price-text">From ${{ experience.price }} <span>/ person</span></h3>
                                <span class="line-link">Show more</span>
                                <div class="cta-group flex">
                                    <div class="list-group-item">
                                        <div class="pd-20 flex-between">
                                            <div class="textcontent flex-column">
                                                <span class = "group-item-name">Dates</span>
                                                <span class="mac-light-text">Add dates</span>
                                            </div>
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                            <svg transform = "rotate(-90)" width="800px" height="800px" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" fill="#000000" /></svg>
                                        </div>

                                        <div class="laptop show-drop date-content-container">
                                            <div class="date-div-container flex-center">
                                                <span class= "dates-span">Dates</span>
                                                <!-- <span class= "months-span">Months</span>
                                                <span class= "flexible-span">I'm flexible</span> -->
                                            </div>
                
                                            <div class="calendar-controls flex-between">
                                                <button type = "button" class="cal-btn cal-prev">
                                                    <img src="{% static 'img/arrow-icon.svg' %}" alt="arrow svg from svgrepo.com">
                                                </button>
                                                <button type = "button" class="cal-btn cal-next">
                                                    <img src="{% static 'img/arrow-icon.svg' %}" alt="arrow svg from svgrepo.com">
                                                </button>
                                            </div>
                
                                            <div class="laptop calendar-container flex-scroll">
                                                <!-- <div class="calendar">
                                                    <div class="month-name-container">
                                                        <span class="month-name-span">September 2024</span>
                                                    </div>
                                                    <div class="weekdays-container">
                                                        <span class="weekday-span">Su</span>
                                                        <span class="weekday-span">Mo</span>
                                                        <span class="weekday-span">Tu</span>
                                                        <span class="weekday-span">We</span>
                                                        <span class="weekday-span">Th</span>
                                                        <span class="weekday-span">Fr</span>
                                                        <span class="weekday-span">Sa</span>
                                                    </div>
                                                    <div class="days-container"></div>
                                                </div> -->
                                            </div>
                                        </div>
                                        {% comment %}<p class = "group-item-value">{{ experience.start_date }}</p>{% endcomment %}
                                    </div>

                                    <div class="list-group-item ">
                                        <div class="pd-20 flex-between">
                                            <div class="textcontent flex-column">
                                                <span class = "group-item-name">Guests</span>
                                                <span class="mac-light-text">1 guest</span>
                                            </div>
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                            <svg transform = "rotate(-90)" width="800px" height="800px" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" fill="#000000" /></svg>
                                        </div>
                                        {% comment %}<p class = "group-item-value">{{ experience.start_date }}</p>{% endcomment %}
                                    </div>
                                </div>
                                <div class="time-schedule-group">
                                    <div class="textcontent flex-column">
                                        <h5 class="page-mini-h5-head">Sat, 12 Oct</h5>
                                        <span class="mac-light-text">10:00 AM - 1:00 PM</span>
                                        <a href="#" class="line-link">Book for a private group</a>        
                                    </div>

                                    <div class="schedule-cta-div flex-column gp-10">
                                        <span class="aval-price-span">$3200</span>
                                        <a href="#" class="choose-link">Choose</a>
                                    </div>
                                </div>
                                <div class="time-schedule-group">
                                    <div class="textcontent flex-column">
                                        <h5 class="page-mini-h5-head">Sat, 12 Oct</h5>
                                        <span class="mac-light-text">10:00 AM - 1:00 PM</span>
                                        <a href="#" class="line-link">Book for a private group</a>        
                                    </div>

                                    <div class="schedule-cta-div flex-column gp-10">
                                        <span class="aval-price-span">$3200</span>
                                        <a href="#" class="choose-link">Choose</a>
                                    </div>
                                </div>
                                <div class="time-schedule-group">
                                    <div class="textcontent flex-column">
                                        <h5 class="page-mini-h5-head">Sat, 12 Oct</h5>
                                        <span class="mac-light-text">10:00 AM - 1:00 PM</span>
                                        <a href="#" class="line-link">Book for a private group</a>        
                                    </div>

                                    <div class="schedule-cta-div flex-column gp-10">
                                        <span class="aval-price-span">$3200</span>
                                        <a href="#" class="choose-link">Choose</a>
                                    </div>
                                </div>
                                <div class="d-grid">
                                 <!-- <a href="{% url 'create_paypal_order' experience.id %}" class="btn btn-pay pal">Pay with Paypal</a> -->
                                 <a href="#" class="btn btn-pay pal">Show other dates</a>

                                     <!--  <a href="{% url 'experience_payment' experience.id %}" class="btn btn-pay ray">Pay with RazorPay</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="details-card">
                    <h4 class="page-mini-head">Where you will be</h4>
                    <div class="map-location-container">
                        <div id="map"></div>
                        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
                        <script>
                          // Initialize the map and set its view
                          var map = L.map('map').setView([51.505, -0.09], 13); // Set to a specific location and zoom level
                      
                          // Add the OpenStreetMap tiles
                          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                          }).addTo(map);
                      
                          // Add a marker
                          var marker = L.marker([51.505, -0.09]).addTo(map)
                            .bindPopup('A marker example.') // Add popup
                            .openPopup();
                        </script>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus assumenda consectetur dolor iusto incidunt sed nisi aliquid, quas dolorum eum!</p>
                </div>
                
                <div class="comment-system">
                    <h3>Leave a review</h3>
                    <div class="comment util-form-container">
                        <form class ="comment-form" method="post">
                            {% csrf_token %}
                            <div class="form-control-container">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            
                            <div class="form-control-container">
                                <label for="message" class="form-label">Message</label>
                                <textarea name= "message" class="form-control" id="message" rows="4" required></textarea>
                            </div>

                            <div class="form-control-container">
                                <label for="rating" class="form-label">Rating</label>
                                <div class="rating-div">
                                    <input type="radio" id="star5" name="rating" value="5" required><label for="star5" title="5 stars">★</label>
                                    <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="4 stars">★</label>
                                    <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="3 stars">★</label>
                                    <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="2 stars">★</label>
                                    <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="1 star">★</label>                        
                                </div>
                            </div>
                            <button type="submit" class="submit-btn btn btn-black">Send Message</button>
                        </form>
                    </div>

                    <h3 class = "review-container-head"><strong>Reviews</strong></h3>
                    <div class="review-container">
                        
                    </div>
                </div>

                <div class="details-card mt">
                    <h4 class="page-mini-head">Choose from available dates</h4>
                    <p class="mac-light-text">592 available</p>
                    <div class="available-dates-container grid">
                        <div class="items-card">
                            <div class="aval-card-details flex-column">
                                <h5 class="page-mini-h5-head">Sat, 12 Oct</h5>
                                <span class="mac-light-text">10:00 AM - 1:00 PM</span>
                                <a href="#" class="line-link">Book for a private group</a>
                            </div>

                            <div class="aval-card-cta flex-column gp-15">
                                <span class="aval-price-span">$3200</span>
                                <a href="#" class="choose-link">Choose</a>
                            </div>
                        </div>

                        <div class="items-card">
                            <div class="aval-card-details flex-column">
                                <h5 class="page-mini-h5-head">Sat, 12 Oct</h5>
                                <span class="mac-light-text">10:00 AM - 1:00 PM</span>
                                <a href="#" class="line-link">Book for a private group</a>
                            </div>

                            <div class="aval-card-cta flex-column gp-15">
                                <span class="aval-price-span">$3200</span>
                                <a href="#" class="choose-link">Choose</a>
                            </div>
                        </div>

                        <div class="items-card">
                            <div class="aval-card-details flex-column">
                                <h5 class="page-mini-h5-head">Sat, 12 Oct</h5>
                                <span class="mac-light-text">10:00 AM - 1:00 PM</span>
                                <a href="#" class="line-link">Book for a private group</a>
                            </div>

                            <div class="aval-card-cta flex-column gp-15">
                                <span class="aval-price-span">$3200</span>
                                <a href="#" class="choose-link">Choose</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="details-card mt">
                    <h4 class="page-mini-head">Things to know</h4>
                    <div class="tk-card-container grid mt">
                        <div class="tk-card">
                            <h5 class="page-mini-h5-head">Guest requirements</h5>
                            <ul class="tk-card-list">
                                <li class="tk-list-item">
                                    <img src="{% static 'img/profile_single.svg' %}" alt="" class="tk-icon">
                                    <span>Guests ages 2 and up can attend, up to 10 guests in total. Parents can also bring children under 2 years of age.</span>
                                </li>
                                <li class="tk-list-item">
                                    <img src="{% static 'img/safety.svg' %}" alt="" class="tk-icon">
                                    <span>Airbnb's health and safety guidelines apply.</span>
                                </li>
                            </ul>
                        </div>

                        <div class="tk-card">
                            <h5 class="page-mini-h5-head">What to bring</h5>
                            <ul class="tk-card-list">
                                <li class="tk-list-item">
                                    <img src="{% static 'img/check-icon.svg' %}" alt="" class="tk-icon">
                                    <span>Appetite</span>
                                </li>
                                <li class="tk-list-item">
                                    <img src="{% static 'img/check-icon.svg' %}" alt="" class="tk-icon">
                                    <span>Camera</span>
                                </li>
                                <li class="tk-list-item">
                                    <img src="{% static 'img/check-icon.svg' %}" alt="" class="tk-icon">
                                    <span>Hand sanitizer</span>
                                </li>
                                <li class="tk-list-item">
                                    <img src="{% static 'img/check-icon.svg' %}" alt="" class="tk-icon">
                                    <span>Napkin or wet wipes</span>
                                </li>
                            </ul>
                        </div>

                        <div class="tk-card">
                            <h5 class="page-mini-h5-head">Cancellation policy</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis magni assumenda, voluptate, quidem similique fugiat magnam nostrum impedit velit ducimus enim sunt iusto id, fugit a quas officia? Blanditiis, esse.</p>
                            <a href="#" class="line-link">Show more</a>
                        </div>
                    </div>
                </div>

                <div class="details-card">
                    <h4 class="page-mini-head">Similar experiences</h4>
                    <div class="sim-exp-card-container grid">
                        <div class="sim-exp-card">
                            <img src="{% static 'img/gallery-img-2.jpg' %}" alt="" class="sim-exp-img">
                            <div class="textcontent">
                                <div class="flex gp-5">
                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
                                    <svg fill="#000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 126.729 126.73" xml:space="preserve">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                        <g id="SVGRepo_iconCarrier"> <g> <path d="M121.215,44.212l-34.899-3.3c-2.2-0.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101,0l-12.4,30.3 c-0.8,2.1-2.8,3.5-5,3.7l-34.9,3.3c-5.2,0.5-7.3,7-3.4,10.5l26.3,23.1c1.7,1.5,2.4,3.7,1.9,5.9l-7.9,32.399 c-1.2,5.101,4.3,9.3,8.9,6.601l29.1-17.101c1.9-1.1,4.2-1.1,6.1,0l29.101,17.101c4.6,2.699,10.1-1.4,8.899-6.601l-7.8-32.399 c-0.5-2.2,0.2-4.4,1.9-5.9l26.3-23.1C128.615,51.212,126.415,44.712,121.215,44.212z"/> </g> </g>
                                    </svg>
                                    <div>
                                        <span>4.89 <span class = "mac-light-text">(293)</span></span>
                                        <span class = "mac-light-text"> . New Delhi</span>
                                    </div>
                                </div>
        
                                <p class="mac-light-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, beatae?</p>
                                <p class="price-text">From ${{ experience.price }} <span>/ person</span></p>
                                
                            </div>
                        </div>

                        <div class="sim-exp-card">
                            <img src="{% static 'img/gallery-img-2.jpg' %}" alt="" class="sim-exp-img">
                            <div class="textcontent">
                                <div class="flex gp-5">
                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
                                    <svg fill="#000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 126.729 126.73" xml:space="preserve">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                        <g id="SVGRepo_iconCarrier"> <g> <path d="M121.215,44.212l-34.899-3.3c-2.2-0.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101,0l-12.4,30.3 c-0.8,2.1-2.8,3.5-5,3.7l-34.9,3.3c-5.2,0.5-7.3,7-3.4,10.5l26.3,23.1c1.7,1.5,2.4,3.7,1.9,5.9l-7.9,32.399 c-1.2,5.101,4.3,9.3,8.9,6.601l29.1-17.101c1.9-1.1,4.2-1.1,6.1,0l29.101,17.101c4.6,2.699,10.1-1.4,8.899-6.601l-7.8-32.399 c-0.5-2.2,0.2-4.4,1.9-5.9l26.3-23.1C128.615,51.212,126.415,44.712,121.215,44.212z"/> </g> </g>
                                    </svg>
                                    <div>
                                        <span>4.89 <span class = "mac-light-text">(293)</span></span>
                                        <span class = "mac-light-text"> . New Delhi</span>
                                    </div>
                                </div>
        
                                <p class="mac-light-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, beatae?</p>
                                <p class="price-text">From ${{ experience.price }} <span>/ person</span></p>
                                
                            </div>
                        </div>

                        <div class="sim-exp-card">
                            <img src="{% static 'img/gallery-img-2.jpg' %}" alt="" class="sim-exp-img">
                            <div class="textcontent">
                                <div class="flex gp-5">
                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
                                    <svg fill="#000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 126.729 126.73" xml:space="preserve">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                        <g id="SVGRepo_iconCarrier"> <g> <path d="M121.215,44.212l-34.899-3.3c-2.2-0.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101,0l-12.4,30.3 c-0.8,2.1-2.8,3.5-5,3.7l-34.9,3.3c-5.2,0.5-7.3,7-3.4,10.5l26.3,23.1c1.7,1.5,2.4,3.7,1.9,5.9l-7.9,32.399 c-1.2,5.101,4.3,9.3,8.9,6.601l29.1-17.101c1.9-1.1,4.2-1.1,6.1,0l29.101,17.101c4.6,2.699,10.1-1.4,8.899-6.601l-7.8-32.399 c-0.5-2.2,0.2-4.4,1.9-5.9l26.3-23.1C128.615,51.212,126.415,44.712,121.215,44.212z"/> </g> </g>
                                    </svg>
                                    <div>
                                        <span>4.89 <span class = "mac-light-text">(293)</span></span>
                                        <span class = "mac-light-text"> . New Delhi</span>
                                    </div>
                                </div>
        
                                <p class="mac-light-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, beatae?</p>
                                <p class="price-text">From ${{ experience.price }} <span>/ person</span></p>
                                
                            </div>
                        </div>

                        <div class="sim-exp-card">
                            <img src="{% static 'img/gallery-img-2.jpg' %}" alt="" class="sim-exp-img">
                            <div class="textcontent">
                                <div class="flex gp-5">
                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
                                    <svg fill="#000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 126.729 126.73" xml:space="preserve">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                        <g id="SVGRepo_iconCarrier"> <g> <path d="M121.215,44.212l-34.899-3.3c-2.2-0.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101,0l-12.4,30.3 c-0.8,2.1-2.8,3.5-5,3.7l-34.9,3.3c-5.2,0.5-7.3,7-3.4,10.5l26.3,23.1c1.7,1.5,2.4,3.7,1.9,5.9l-7.9,32.399 c-1.2,5.101,4.3,9.3,8.9,6.601l29.1-17.101c1.9-1.1,4.2-1.1,6.1,0l29.101,17.101c4.6,2.699,10.1-1.4,8.899-6.601l-7.8-32.399 c-0.5-2.2,0.2-4.4,1.9-5.9l26.3-23.1C128.615,51.212,126.415,44.712,121.215,44.212z"/> </g> </g>
                                    </svg>
                                    <div>
                                        <span>4.89 <span class = "mac-light-text">(293)</span></span>
                                        <span class = "mac-light-text"> . New Delhi</span>
                                    </div>
                                </div>
        
                                <p class="mac-light-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, beatae?</p>
                                <p class="price-text">From ${{ experience.price }} <span>/ person</span></p>
                                
                            </div>
                        </div>

                        <div class="sim-exp-card">
                            <img src="{% static 'img/gallery-img-2.jpg' %}" alt="" class="sim-exp-img">
                            <div class="textcontent">
                                <div class="flex gp-5">
                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
                                    <svg fill="#000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 126.729 126.73" xml:space="preserve">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                        <g id="SVGRepo_iconCarrier"> <g> <path d="M121.215,44.212l-34.899-3.3c-2.2-0.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101,0l-12.4,30.3 c-0.8,2.1-2.8,3.5-5,3.7l-34.9,3.3c-5.2,0.5-7.3,7-3.4,10.5l26.3,23.1c1.7,1.5,2.4,3.7,1.9,5.9l-7.9,32.399 c-1.2,5.101,4.3,9.3,8.9,6.601l29.1-17.101c1.9-1.1,4.2-1.1,6.1,0l29.101,17.101c4.6,2.699,10.1-1.4,8.899-6.601l-7.8-32.399 c-0.5-2.2,0.2-4.4,1.9-5.9l26.3-23.1C128.615,51.212,126.415,44.712,121.215,44.212z"/> </g> </g>
                                    </svg>
                                    <div>
                                        <span>4.89 <span class = "mac-light-text">(293)</span></span>
                                        <span class = "mac-light-text"> . New Delhi</span>
                                    </div>
                                </div>
        
                                <p class="mac-light-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, beatae?</p>
                                <p class="price-text">From ${{ experience.price }} <span>/ person</span></p>
                                
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
           
        </div>
        <div class="chat-system-container">
            <div class="chat-box-container">
                <div class="chat-header flex-center">
                    <span>Customer</span>
                </div>
                <div class="chat-main"></div>
                <div class="chat-form-container">
                    <form class = "chat-form" action="">
                        <input type="text" placeholder="Enter a message" class="chat-input">
                        <button type = "button" class="submit-chat flex-center">
                            <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                            <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.5003 12H5.41872M5.24634 12.7972L4.24158 15.7986C3.69128 17.4424 3.41613 18.2643 3.61359 18.7704C3.78506 19.21 4.15335 19.5432 4.6078 19.6701C5.13111 19.8161 5.92151 19.4604 7.50231 18.7491L17.6367 14.1886C19.1797 13.4942 19.9512 13.1471 20.1896 12.6648C20.3968 12.2458 20.3968 11.7541 20.1896 11.3351C19.9512 10.8529 19.1797 10.5057 17.6367 9.81135L7.48483 5.24303C5.90879 4.53382 5.12078 4.17921 4.59799 4.32468C4.14397 4.45101 3.77572 4.78336 3.60365 5.22209C3.40551 5.72728 3.67772 6.54741 4.22215 8.18767L5.24829 11.2793C5.34179 11.561 5.38855 11.7019 5.407 11.8459C5.42338 11.9738 5.42321 12.1032 5.40651 12.231C5.38768 12.375 5.34057 12.5157 5.24634 12.7972Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>

            <a href = "{% url 'chat' experience.id %}" class="chat-cta flex-center">
                <img src="{% static 'img/chat-icon.svg' %}" alt="chat icon">
            </a>
        </div>
    </div>

    <!-- Footer -->
    <!-- <footer class="text-center mt-5">
        <p>&copy; 2024 Experience Booking Platform</p>
    </footer> -->
    {% endblock context %}
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> -->

