{% extends "base.html" %}
{% load static %}
{% block context %}


    <div class="checkout-page">
        <div class="wrapper">
            <div class="checkout-page-head">
                <h2 class="page-head">Confirm and pay for private booking</h2>
            </div>
            <div class="checkout-page-wrapper flex-between">
                <div class="phone-number-overlay flex-center">
                    <div class="phone-number-select-container trans-down">
                        <div class="head-div">
                            <div class = "remove-icon-div flex-center">
                                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
                                <svg class = "remove-icon" width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                    <g id="SVGRepo_iconCarrier"> <path d="M6 12H18M12 6V18" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g>
                                </svg>
                            </div>
                            <h4 class="page-micro-head">Add phone number</h4>
                        </div>

                        <div class="phone-number-select-content">
                            <p class="mac-text">We will send you trip updates and a text to verify this number</p>
                            <div class="number-select-form-container">
                                <form action="" class="number-select-form mt">
                                    <div class="input-container">
                                        <label for="phone" class="form-label">Phone Number</label>
                                        <input type="tel" class="form-input" id="phone" name="phone_number" placeholder="123-456-7890"  required>
                                    </div>
                                </form>
                                <p class="mac-light-text">We'll text you a code to confirm your number. Standard message and data rates apply.</p>
                            </div>
                            <button class="mt btn-black">Continue</button>
                        </div>
                    </div>
                </div>
                <div class="checkout-cta">
                    <div class="checkout-card">
                        <h3 class="page-sub-h3-head">Your experience</h3>
                        <div class="date-div mt">
                            <h5 class="page-mini-h5-head">Date</h5>
                            <p class="mac-light-text-900">{{booking.booking_date}}</p>
                        </div>
            
                        <div class="guest-div mt">
                            <h5 class="page-mini-h5-head">Guests</h5>
                            <div class="checkout-guest-val-div">
                                <div class="highlight flex-between bd-300 br-10 pd-10 mt-10">
                                    <span class="checkout-guests-val">{{booking.number_of_people}} guest</span>
                                    <img src="{% static '../static/img/arrow-45-icon.svg' %}" alt="Down arrow icon" class="arrow-icon">
                                </div>

                                <div class="show-drop">
                                    <div class="guest-box flex-between">
                                        <div class="guest-details flex-column">
                                            <span class="guest-name">Adult</span>
                                            <span class="guest-age">Ages 13 or above</span>
                                        </div>

                                        <div class="adult guest-control-container flex gp-10">
                                            <span class = "add-guest">
                                                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
                                                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <g id="SVGRepo_iconCarrier"> <path d="M6 12H18M12 6V18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g>
                                                </svg>
                                            </span>
                                            <span class="guest-count">0</span>
                                            <span class= "reduce-guest">
                                                <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                                <svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M4.5 12.75a.75.75 0 01.75-.75h13.5a.75.75 0 010 1.5H5.25a.75.75 0 01-.75-.75z"/>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="guest-box flex-between">
                                        <div class="guest-details flex-column">
                                            <span class="guest-name">Children</span>
                                            <span class="guest-age">Ages 2 - 12</span>
                                        </div>

                                        <div class="children guest-control-container flex gp-10">
                                            <span class = "add-guest">
                                                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
                                                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <g id="SVGRepo_iconCarrier"> <path d="M6 12H18M12 6V18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g>
                                                </svg>
                                            </span>
                                            <span class="guest-count">0</span>
                                            <span class= "reduce-guest">
                                                <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                                <svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M4.5 12.75a.75.75 0 01.75-.75h13.5a.75.75 0 010 1.5H5.25a.75.75 0 01-.75-.75z"/>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="guest-box flex-between">
                                        <div class="guest-details flex-column">
                                            <span class="guest-name">Infants</span>
                                            <span class="guest-age">Under 2</span>
                                        </div>

                                        <div class="infant guest-control-container flex gp-10">
                                            <span class = "add-guest">
                                                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
                                                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <g id="SVGRepo_iconCarrier"> <path d="M6 12H18M12 6V18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g>
                                                </svg>
                                            </span>
                                            <span class="guest-count">0</span>
                                            <span class= "reduce-guest">
                                                <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                                <svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M4.5 12.75a.75.75 0 01.75-.75h13.5a.75.75 0 010 1.5H5.25a.75.75 0 01-.75-.75z"/>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>

                                    
                                    <div class="guest-box flex-between">
                                        <div class="guest-details flex-column">
                                            <span class="guest-name">Pets</span>
                                            <span class="guest-age"><a href="#" class="pet-link">Bringing a service animal?</a></span>
                                        </div>

                                        <div class="pet guest-control-container flex gp-10">
                                            <span class = "add-guest">
                                                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
                                                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <g id="SVGRepo_iconCarrier"> <path d="M6 12H18M12 6V18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g>
                                                </svg>
                                            </span>
                                            <span class="guest-count">0</span>
                                            <span class= "reduce-guest">
                                                <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                                <svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M4.5 12.75a.75.75 0 01.75-.75h13.5a.75.75 0 010 1.5H5.25a.75.75 0 01-.75-.75z"/>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="checkout-card">
                        <h3 class="page-sub-h3-head">Required for your trip</h3>
                        <div class="flex-between">
                            <div class="flex-column mt">
                                <p class="page-micro-head">Phone Number</p>
                                <p class="mac-light-text-900">Add and verify your number so we can send you trip updates</p>
                            </div>
    
                            <button class= "phone-add-btn bd-900">Add</button>
                        </div>
                    </div>
    
                    <div class="checkout-card">
                        <h3 class="page-sub-h3-head">Things to know</h3>
                        
                        <div class="flex-column mt">
                            <p class="page-micro-head">Guest requirements</p>
                            <p class="mac-light-text-900">Up to 10 guests of all ages can attend</p>
                        </div>
    
                    </div>
    
                    <div class="checkout-card">
                        
                        <div class="flex-between mt">
                            <p class="page-micro-head">Booking for work?</p>
                            <input class= "book-work-toggle" type="checkbox" name="book-work" id="book-work-id">
                        </div>
    
                    </div>

                    <div class="checkout-card">
                        <h3 class="page-sub-h3-head">Pay with</h3>
                        <div class = "payment-wrapper">
                            <div class="razor-container flex-wrap gp-10">
                                <img src="{% static '../static/img/razorpay-img.png' %}" alt="" class="razor-img">
                                <div class = "card-details flex-column gp-10">
                                    <span class="card-span page-micro-head">Cards, UPI, Wallets</span>
                                    <span class="mobile-bank-span page-micro-head">Paypal, Netbanking</span>
                                </div>
                            </div>

                            <div class="mobile-trans-container flex-wrap gp-10">
                                <div class="mobile-trans-icon">
                                    <img src="{% static '../static/img/visa.svg' %}" alt="">
                                </div>

                                <div class="mobile-trans-icon">
                                    <img src="{% static '../static/img/mastercard.svg' %}" alt="">
                                </div>

                                <div class="mobile-trans-icon">
                                    <img src="{% static '../static/img/amex-icon.svg' %}" alt="">
                                </div>

                                <div class="rupay mobile-trans-icon">
                                    <img src="{% static '../static/img/rupay-img.png' %}" alt="">
                                </div>

                                <span class="mac-light-text">and more...</span>
                            </div>
                        </div>
                        <a id="pay-button" class="pay-now-btn" href="#">Confirm and pay</a>
                    </div>
                </div>
                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                <script>
                    document.getElementById('pay-button').onclick = function(e) {
                        e.preventDefault(); // Prevent default action
                        
                        var totalPrice = "{{ booking.total_price }}"; // Total price from the Django context
                        var amount = totalPrice * 100; // Convert to smallest currency unit
                        
                        var options = {
                            "key": "{{razor}}", // Razorpay key ID
                            "amount": amount,
                            "currency": "INR",
                            "name": "{{booking.experience.title}}",
                            "description": "Booking for {{booking.experience.title}}",
                            "order_id": "{{ razorpay_order_id }}",  // Razorpay order ID generated by server
                            "handler": function (response) {
                                // Send payment details to the server for verification
                                var data = {
                                    razorpay_order_id: response.razorpay_order_id,
                                    razorpay_payment_id: response.razorpay_payment_id,
                                    razorpay_signature: response.razorpay_signature,
                                    experience_id: "{{ booking.id }}"  // Pass the experience ID to the server
                                };
                
                                fetch('/payment/verify/', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/x-www-form-urlencoded',
                                        'X-CSRFToken': '{{ csrf_token }}'
                                    },
                                    body: new URLSearchParams(data)
                                })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.status === 'success') {
                                        // Redirect to booking history page
                                        window.location.href = data.redirect_url;
                                    } else {
                                        alert(data.message);
                                    }
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                });
                            },
                            "theme": {
                                "color": "#F37254"
                            }
                        };
                
                        var rzp = new Razorpay(options);
                        rzp.open();
                    };
                </script>
                <div class="checkout-details pd bd-300">
                    <div class="checkout-details-info flex gp-10">
                        <div class="img-container">
                            <img src="{{booking.experience.images.url}}" alt="Experience details image" class="checkout-details-info-img">
                        </div>
    
                        <div class="textcontent flex-column gp-5">
                            <span class="location mac-light-text">{{booking.experience.title}} . {{booking.experience.created_at|timesince}}</span>
                            <div>
                                <p class="mac-text">{{booking.experience.description}}.</p>
                                <span class="mac-light-text">Hosted in English</span>
                            </div>
                            <div class="flex gp-5">
                                        
                                <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
                                <svg fill="#000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 126.729 126.73" xml:space="preserve">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier"> <g> <path d="M121.215,44.212l-34.899-3.3c-2.2-0.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101,0l-12.4,30.3 c-0.8,2.1-2.8,3.5-5,3.7l-34.9,3.3c-5.2,0.5-7.3,7-3.4,10.5l26.3,23.1c1.7,1.5,2.4,3.7,1.9,5.9l-7.9,32.399 c-1.2,5.101,4.3,9.3,8.9,6.601l29.1-17.101c1.9-1.1,4.2-1.1,6.1,0l29.101,17.101c4.6,2.699,10.1-1.4,8.899-6.601l-7.8-32.399 c-0.5-2.2,0.2-4.4,1.9-5.9l26.3-23.1C128.615,51.212,126.415,44.712,121.215,44.212z"></path> </g> </g>
                                </svg>
                                <div>
                                    <span>4.89 <span class="mac-light-text">(293 reviews)</span></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="checkout-details-tag">
                        <h4 class="page-mini-head">Price details</h4>
                        <div class="flex-between mt">
                            <span class="bold-p">₹{{booking.experience.private_group_price}} X {{booking.number_of_people}} Guest</span>
                            <span class="bold-p">₹{{booking.experience.private_group_price}}</span>
                        </div>
                    </div>
                    
                    <div class="checkout-details-tag">
                        <div class="flex-between">
                            <span class="page-micro-head">Total<a href = "#" class="line-link">(USD)</a></span>
                            <span class="page-micro-head">₹{{booking.total_price}}</span>
                        </div>
                    </div>

                    <div class="checkout-details-tag">
                        <h4 class="page-mini-head">Cancellation policy</h4>
                        <span class="mac-light-text-900">Non-refundable.</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            initialCountry: "auto",
            geoIpLookup: function(callback) {
                fetch('https://ipinfo.io/json', { cache: 'reload' })
                .then(response => response.json())
                .then(data => {
                    const countryCode = (data && data.country) ? data.country : "us";
                    callback(countryCode);
                });
            },
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js", // for number formatting
        });
    </script>
{% endblock context %}
