{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class = "page">
        <div class = "signup-container">
            <div class="signup-graphics"></div>
            <div class="signup-form-div">
                <div class = "signin-cta-div">
                    <div>
                        <span class = "signin-text"></span>
                        <a class = "signin-link"></a>
                    </div>
                </div>

                <h3 class="signin-head">Welcome to Booker!</h3>
                <p class = "signin-text">Register your account</p>

                <form action="" class="signin-form">
                    <div class="input-container">
                        <label class = "name-label" for="name-input"></label>
                        <input id= "name-input" class = "name-input" type="text">
                    </div>

                    <div class="input-container">
                        <label class = "email-label" for="email-input"></label>
                        <input id= "email-input" class = "email-input" type="email">
                    </div>

                    <div class="input-container">
                        <label class = "password-label" for="password-input"></label>
                        <input id= "password-input" class = "password-input" type="password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>