*{
    box-sizing: border-box;
}

:root{
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --bg-clr : #7c89f1;
    --logo-clr: #5172bb;
    --outline-clr : #a492de;
    --btn-clr : #7138ff;
    --variant-clr : #217ef7;
    --light-text-clr : hsl(0,0%,98%);

}

html{
    scroll-behavior: smooth;
}

body{
    margin : 0;
    padding : 0;
    font-family: var(--font-family);
    line-height: 1.6;
}

body.over-hidden{
    overflow-y: hidden;
}

.wrapper{
    width : 90%;
    max-width : 1200px;
    margin-inline: auto;
}

.overlay{
    position: fixed;
    width: 100%;
    height: calc(100% - 70px);
    top: 70px;
    left: 0;
    background-color: hsla(0, 0%, 10%, .7);
    z-index: 999;
    backdrop-filter: blur(12px);
    display: none;
}

.overlay.visible{
    display: block;
}

.flex{
    display: flex;
    align-items: center;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-end{
    display: flex;
    align-items: center;
    justify-content: end; 
}

.flex-wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-scroll{
    display: flex;
    align-items: center;
    gap : 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.flex-scroll::-webkit-scrollbar{
    width: 0;
    height :0;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gp-5{
    gap : 5px;
}

.gp-7{
    gap : 7px;
}

.gp-10{
    gap : 10px;
}

.gp-15{
    gap : 15px;
}

.gp-20{
    gap : 20px;
}

.w-100{
    width : 100%
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap : 20px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button,
input,
select,
textarea{
    border : none;
    font-family: var(--font-family);
}

button{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; /* Removes the tap highlight on mobile */

}

button:active{
    scale : .5;
    transition : scale 1s ease
}

input:focus-within,
input:focus-visible,
select:focus-within,
select:focus-visible,
textarea:focus-within,
textarea:focus-visible{
    outline: 2px auto var(--btn-clr);
    /* border: none; */
}

h2,h3,h4,p{
    margin :5px 0; 
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color : black;
}

svg{
    width : 20px;
    height : 20px;
}

svg path{
    width : 100%;
    height: 100%;
}

.page{
    min-height : 100vh;
}

nav{
    position: sticky;
    top: 0;
    height: 70px;
    background: white;
    right: 0;
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 10%, .2);
    z-index: 999;
}

.nav{
    padding: 10px 40px;
    height: 100%;
    position: relative;
}

.nav.flex-between{
    align-items: center;
}



.logo-img{
    width : 20px;
    height: 20px;
}

/* .nav-links-container{
    margin-left: auto;
} */

.mobile.nav-links-container{
    position: fixed;
    top : 70px;
    right : 0;
    min-width: 250px;
    height: calc(100vh - 130px);
    padding : 0px 0px 20px;
    background-color: hsla(0, 0%, 98%, 0.8);
    backdrop-filter: blur(10px);
    display: none;
    transform: translateX(100%);
    transition: transform .5s ease;
    z-index: 9999;
    overflow-y: auto;
}

.mobile.nav-links-container.slideIn{
    transform: translateX(0)
}

.mobile.nav-links-container a{
    display: block;
    padding : 15px 20px;
}

.mobile.nav-links-container a:hover{
    width : 100%;
    background-color: hsl(0,0%,55%);
    border-radius: 0px;
}

.nav-links-container a{
    font-weight: 500;
    font-size: clamp(.85rem, 2.5vw, 1rem);
    padding: 10px 15px;
    border-radius: 50px;
    display: inline-block;
}

.nav-links-container a:hover{
    background-color: hsl(0,0%,95%);
}

/* .profile-cta-container{
    margin-left: auto;
} */

.login-link{
    background-color: hsl(0, 0%, 20%);
    color : hsl(0 0% 98%);
    padding : 7px 30px;
    border-radius: 10px;
    letter-spacing: 1px;
    /* margin: 0px 20px 0px; */
}

.category-container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto 0px;
    border: 1px solid hsl(0 0% 70%);
    border-radius: 50px;
    position: relative;
    z-index: 99;
}

.category-container.trans-down{
    animation-delay: 1.5s;
    
}

.mobile.category-container{
    display: none;
}

.mobile.category-container:hover .category-highlight{
    background-color: hsl(0, 0%, 90%);
}

.mobile.category-container:hover .category-name{
    color : hsl(0, 0%, 10%)
}

.mobile.category-container:hover .category-val{
    color : hsla(0, 0%, 10%, .9)
}

.mobile.category-container:hover span.mobile.search-icon svg path {
    stroke: hsl(0 0% 35%);
}

.w-30{
    width : 35%;
}

.w-20{
    width : 15%;
}

/* .category-container > div{
    position: relative;
} */

.category-box:not(:last-of-type)::after{
    content: "";
    position : absolute;
    top : 50%;
    right : 10px;
    transform: translateY(-50%);
    height: 50%;
    width : 2px;
    background-color: hsl(0, 0%, 90%);
}

/* .category-container > div{

} */

.category-box{
    position: relative;
    border-radius: 100px;
    width : calc(100% / 3)
}

.date-wrapper{
    height : 100%;
    border-radius: 100px;
    position: relative;
}

.calendar-controls{
    padding: 20px 0px;
}

.cal-btn{
    background-color: transparent;
}

.cal-btn img{
    width : 30px;
    height : 30px;
}

.cal-next img{
    transform: rotate(180deg);
}

.date-val-container{
    display: none;
}

.category-wrapper{
    height : 100%;
}

.category_choice-wrapper{
    height: 100%;
}

.category-highlight{
    height : 100%;
    border-radius: 100px;
    padding : 10px 20px;
    cursor: pointer;
}

.mobile.category-container .category-highlight{
    width : 100%;
}

.category-highlight.active{
    background-color: hsl(0, 0%, 90%);
}

.category-highlight.active .category-field::placeholder{
    color : hsla(0, 0%, 10%, .8)
}

.category-highlight.active .category-name{
    color : hsl(0, 0%, 10%)
}

.category-highlight.active .category-val{
    color : hsla(0, 0%, 10%, .9)
}

.category-highlight.active .other-guest{
    color : hsla(0, 0%, 10%, .9)
}

.category-highlight.active .category-field{
    color : hsla(0, 0%, 10%, .9)
}

.guest-container .category-highlight{
    padding-right: 10px;
}

.destination-container .category-highlight{
    padding-left : 30px;
}

.location-list-item{
    padding : 10px 25px;
    cursor: pointer;
}

.location-list-item:hover{
    background-color: hsl(0, 0%, 92%);
}

.destination-icon svg path{
    stroke : hsl(0, 0%, 20%)
}

.search-form{
    height : 25px;
}

.search-form-btn{
    opacity: 0;
    visibility: hidden;
}

.category-field-container{
    display: flex;
    gap : 3px;
    flex-direction: column;
    /* padding: 10px 20px; */
}


.category-name{
    font-size: .9rem;
    font-weight: 600;
    color: hsl(0, 0%, 95%);
}

input.category-field{
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color : hsl(0, 0%, 95%, .7);
}

input.category-field::placeholder{
    color : hsla(0, 0%, 98%, 0.7)
}

.category-val {
    color: hsl(0, 0%, 95%, .7);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: clamp(.6rem, 3.5vw, 1rem);
}

.date-val-container span{
    color: hsl(0, 0%, 95%, .7);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: clamp(.6rem, 3.5vw, 1rem);
}

.other-guest{
    color: hsl(0, 0%, 95%, .7);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: clamp(.6rem, 3.5vw, 1rem);
    display: inline;
}

.guest-box{
    padding-bottom: 20px;
    border-bottom: 1px solid hsla(0, 0%, 10%, .3);
    margin-bottom: 20px;
}

.guest-box.flex-between{
    gap : 10px;
}

.guest-name{
    font-size: 1.3rem;
    font-weight: 500;
}

.guest-control-container .add-guest,
.guest-control-container .reduce-guest{
    width : 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border : 1px solid hsla(0, 0%, 10%, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor : pointer;
}

.guest-count{
    font-size : 1.1rem;
    font-weight : 400;
}

.show-drop{
    position: absolute;
    top: 120%;
    left: 0;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 5px 8px 13px 4px hsl(0, 0%, 10%, .2);
    padding: 30px 25px;
    border-radius: 10px;
    max-height : 450px;
    overflow-y: auto;
    display: none;
    z-index: 100;
}

.show-drop::-webkit-scrollbar{
    width : 7px;
    background-color: hsla(0, 0%, 70%, 0.8);
    border-radius: inherit;

}

.show-drop::-webkit-scrollbar-thumb{
    background-color: hsla(0, 0%, 10%, .8);
    border-radius: 10px;
}

.date-wrapper .show-drop{
    left : 90%;
    transform : translateX(-50%)
}

.show-drop.category_choice{
    padding : 0px;
    width : 100%;
}

.guest-container .show-drop{
    width : 100%
}


.category_choice-item{
    padding :15px;
    font-size: 1.1rem;
    cursor: pointer;
}

.category_choice-item:hover{
    background-color: hsl(0, 0%, 95%);
}

.reveal{
    display: block;
}

.map-regions-wrapper{
    width: 100%;
    padding: 30px 0px;
}

.map-region-text{
    display: inline-block;
    margin-bottom: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    padding-left : 25px;
    padding-right: 25px;
}

/* .map-regions-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(160px, 1fr));
    gap: 5px;
}

.map-region{
    padding: 10px 12px;
    border-radius: 10px;
}

.map-region-img{
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    background-color: hsl(0 0% 98%);
    border : 1px solid hsl(0, 0%, 0%, .2);
}

.map-region-name{
    margin-top: 5px;
    display: inline-block;
} */

.search-icon{
    width : 55px;
    height : 55px;
    border-radius: 50%;
    background-color: var(--logo-clr);
}

span.mobile.search-icon{
    background-color: transparent;
    border: none;
  
}

span.mobile.search-icon svg{
    width : 40px;
    height : 40px;
    fill : none;
}

span.mobile.search-icon svg path{
    stroke : hsl(0 0% 95%);
}

.category-highlight.active span.mobile.search-icon svg path{
    stroke : hsl(0 0% 35%);
}

.date-div-container{
    width : 50%;
    margin: 0 auto 30px;
    border-radius: 50px;
    background-color: hsl(0 0% 93%);
}

.date-div-container span{
    padding: 10px 0px;
    width : 100%;
    border-radius: inherit;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    border-radius: inherit;
    cursor: pointer
}

.date-div-container span:hover{
    background-color: hsl(0 0% 85%);

}

.static-pos{
    position: static;
}

.relative-pos{
    position: relative;
    z-index: 99;
}

.calendar-container.flex-scroll{
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
}

.calendar{
    min-width : 50%;
    text-align: center;
}

.weekdays-container,
.days-container{
    display: grid;
    grid-template-columns: repeat(7, minmax(30px, 1fr));
    gap: 7px;
}

.weekday-span,
.day-cell{
    text-align: center;
    padding : 10px;
}

.weekday-span{
    color : hsl(0 0% 60%);
}

.day-cell {
    text-align: center;
    /* padding: 10px; */
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.day-cell:hover{
    outline: 1px solid rgba(0, 0, 0, 0.377);
}

.day-cell.active{
    background-color: hsl(0, 0%, 20%);
    color : hsl(0, 0%, 95%);
}

.day-cell.active:hover{
    outline : none;
}

.profile-container{
    border : 1px solid hsl(0 0% 50%);
    border-radius : 50px;
    /* width : 60px; */
    /* height : 45px; */
    padding: 7px 12px;
    position: relative;
}


.profile-cta{
    height : 100%;
    cursor: pointer;
}

.hamburger{
    width : 25px;
    height : 25px;   
}

.hamburger span{
    height : 2px;
    width : 100%;
    background-color: hsl(0, 0%, 10%);
}

.mobile.hamburger{
    cursor: pointer;
    display: none;
}

.mobile.hamburger span:nth-of-type(2){
    width : 80%;
}

.mobile.hamburger span:nth-of-type(3){
    width : 70%;
}

.profile-icon{
    width : 30px;
    height : 30px;
}

.profile-drop-down {
    /* padding: 0px 0px; */
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    top: 130%;
    width: 140px;
    left: -20px;
    display: none;
    z-index: 10;
}

.profile-drop-down.visible{
    display: block;
}

.profile-list{
    list-style: none;
}

.profile-link{
    padding : 10px 15px;
}

.profile-link:hover{
    background-color: hsl(0 0% 88%);
}

.watchlist-container{
    position: relative;
    /* margin-left: auto; */
}

.watchlist-number {
    position: absolute;
    top: -4px;
    right: -6px;
    background-color: hsl(0, 87%, 33%);
    color: hsl(0 0% 96%);
    min-width: 20px;
    height: 20px;
    padding: 0 6px; /* Reduced padding for small numbers */
    border-radius: 10px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    white-space: nowrap; /* Prevents the text from wrapping */
    transform: scale(0.7);
}

/* Larger numbers adapt padding */
.watchlist-number.large-number {
    padding: 0 8px; /* Extra padding for larger numbers */
}

.watchlist-container .watchlist-number{
    transform: scale(0.9);
    top : -2px;
}


.watchlist-container svg{
    width : 40px;
    height: 40px;
    fill: hsl(0, 0%, 30%);
}

.web-img{
    width : 30px;
    height : 30px;
}

.util-card-wrapper{
    width: 95%;
    max-width: 1300px;
    margin: 50px auto 20px;
}

.util-card-wrapper:not(:first-of-type){
    margin: 20px auto;
}

.util-card-container.grid{
    gap : 25px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.util-card{
    max-width: 500px;
    /* transform: translateY(20px);
    opacity: 0; */
}

.util-card-head{
    font-size : clamp(2rem, 3.5vw, 2.2rem);
    margin-bottom: 15px;
    /* transform: translateY(20px);
    opacity: 0; */
}

.util-card-img-container{
    position : relative;
    overflow: hidden;
    z-index: 1;
}

.util-card-img-container::after{
    content : "";
    position : absolute;
    width : 100%;
    height : 100%;
    top : 0;
    left : 0;
    z-index : 0;
    border-radius: 10px;
}

.util-card-img-container:hover::after{
    background-color: hsla(0, 0%, 10%, .5);
}

.util-card-img{
    width : 100%;
    height : 230px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 10%, 0.15);
}

.love-icon-span{
    width : 45px;
    height : 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top : 20px;
    right : 15px;
    z-index : 2;
    background-color: hsl(0, 0%, 100%);
}

.love-icon{
    width : 30px;
    transition: transform .2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.love-icon path{
    fill: transparent;
    stroke: black;
    stroke-width: 2px;
}

.love-icon-span.animate .love-icon path{
    fill : #e11710e0;
    stroke: transparent;
}

.love-icon-span.reverse .love-icon path{
    transform: scale(1);
    stroke: black;
    fill: transparent;
}

.util-card-content{
    margin-top: 10px;
}

.util-card-content.flex-between{
    align-items: center;
}

.util-card-content-name{
    font-weight: 600;
    margin: 0px;
    font-size: clamp(.85rem, 2.5vw, 1.1rem);
    color: hsl(0, 0%, 30%);
    line-height : 1.2;
}

.util-card-details{
    width : 78%;
}

.add-watchlist-btn{
    width : 25%;
    background-color: #0a0a0a;
    /* margin-top: 10px; */
    padding: 7px 10px;
    border-radius: 10px;
    /* font-size: 1rem; */
    flex : 1;
    min-width: fit-content;
    letter-spacing: .3px;
}

.add-watchlist-btn svg{
    width: 22px;
    height: 22px;
}

.add-watchlist-btn svg path{
    fill: hsl(0, 0%, 85%);
}

.price-span{
    color : hsl(0, 0%, 93%)
}

.location-container svg{
    width : 25px;
    height : 25px;
}

.location-container svg path{
    stroke: hsl(0, 0%, 20%);
}

.util-card-content-host{
    font-size: 1.04rem;
    font-weight: 500;
    color: hsla(0, 0%, 10%, .5);
}

.util-card-content-time{
    font-weight : 600;
    font-size: clamp(.85rem, 3.5vw, 1rem);
    margin: 0px;
}

.banner-content-container{
    height : 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../img/booking-banner-2.jpg") hsl(0,0%,10%, .7);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin : 20px auto 10px;
    width : 95%;
    background-blend-mode: darken;
    border-radius: 30px;
    padding : 0px 10px;
}

.banner-content-head{
    font-size : clamp(2.4rem, 4.5vw, 4rem);
    color: hsla(0, 0%, 98%, 0.8);
    line-height: 1.2;
    text-align: center;
}

.typewriter-text{
    display: inline-block;
    overflow: hidden;
}

.typewriter-cursor{
    animation : fade 1s infinite steps(1);
}

.banner-content-text{
    font-size : clamp(.9rem, 2.5vw, 1.18rem);
    text-align: center;
    color: hsla(0, 0%, 98%, 0.6);
}

.banner-content-text.trans-down{
    animation-delay: 0.8s;
}

.profile-img{
    width : 40px;   
    height: 40px;
}

.form-page{
    height : 100%;
    min-height : 100vh;
    display: grid;
    place-items: center;
    padding-block : 15px;
    background-color: var(--bg-clr);
}

.form-container{
    /* background-color: hsl(0,0%,97%); */
    border-radius: 10px;
    overflow: hidden;
}

.logo-text{
    color : hsl(0,0%,20%);
    font-weight : 500;
    font-size: clamp(.75rem, 3.5vw, 1rem);
}

.mobile.logo-container{
    display: none;
    margin-bottom: 15px;
    width : fit-content;
}

.form-graphics-container{
    width : 50%;
    padding : 20px 40px;
    background-color: #ecedf1fa;
}

.form-graphics-container.flex-column{
    justify-content: flex-start;
}

.graphics-wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify.graphics-wrapper img{
    mix-blend-mode: darken;
}

.acct-form-wrapper{
    padding : 12px 40px;
    background-color: white;
    width : 50%;    
    margin-inline: auto;
    min-height: 70vh;
}

.form-cta-wrapper{
    display: flex;
    gap : 15px; 
    align-items: center;
}

.form-cta-text{
    font-size: 1rem;
    color: hsl(0 0% 60%);
    font-weight: 600;
}

.form-cta-link{
    padding : 5px 20px;
    border-radius: 20px;
    border: 2px solid hsl(0 0% 90%);
    font-size: .8rem;   
    color : hsl(0,0%,30%);
    font-weight: 600;
    flex: 1;
    min-width: fit-content;
    transition: background-color .3s ease, color .3s ease;
}

.form-cta-link:hover{
    background-color: hsl(0,0%,10%);
    color : var(--light-text-clr);
    border-color : transparent;
}

.form-head{
    font-size : clamp(1.5rem, 3vw, 2.1rem);
    margin: 0;
    line-height: 1.2;
}

.form-text{
    margin-top : 5px;
    color : hsl(0, 0%, 60%);
    margin-bottom: 0;
    font-size: 1.1rem;
}

.acct-form{
    margin-top: 10px;
}

.password-message{
    font-size : .83rem;
    font-weight : 600;
}

.password-message.correct{
    color : rgb(11, 129, 31)
}

.password-message.incorrect{
    color : rgb(143, 14, 5)
}

.signin.acct-form{
    margin-top: 20px;
}

.input-side-container{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.input-side-container > .input-container{
    width : 48%;
}

.profile-welcome-head{
    font-size: 2rem;
    margin: 0;
    font-weight: 500;
    padding: 10px;
    line-height: 100%;
    color: #25096bbf;
    background-color: hsl(257.19deg 100% 60.98% / 20%);
    /* border: 1px solid hsl(0deg 0% 30% / 37%); */
    text-align: center;
    letter-spacing: 1px;
    border-radius: 7px
}

.profile-pic-container{
    margin-bottom: 20px;
}

.profile-img-container{
    position : relative;
}

.camera-icon{
    width : 45px;
    height : 45px;
    position: absolute;
    bottom : 0;
    right : 0;
    background-color: hsl(0,0%,98%);
    border-radius: 50%;
    cursor: pointer;
}

.camera-circle{
    background-color: #0d6efd;
    width: 90%;
    height: 90%;
    border-radius: inherit;
    position: relative;
}

.camera-icon::after{
    content : url("../img/camera-icon.svg");
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;

}

.camera-icon:hover::after{
    content : url("../img/plus-icon.svg");
}

.label-profile_picture{
    min-width: fit-content;
    padding: 10px 12px;
    background-color: #0d6efd;
    border-radius: 10px;
    color: hsl(0, 0%, 98%);
    cursor: pointer;
    font-size: clamp(.85rem, 2.5vw, 1rem);
    transition: background-color .3s ease;
}

.label-profile_picture:hover{
    background-color : #032250;
}

.input-profile_picture{
    visibility: hidden;
    opacity: 0;
    height: 0;
    width : 0;
    display: none;
}


.input-container{
    display: flex;
    flex-direction: column;
    gap : 4px;
}

.profile-form .input-container{
    gap : 5px;
}

.profile-picture-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.check-input-container.flex{
    align-items: center;
}

.form-check-input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width : 20px;
    height : 20px;
    border : 1px solid hsla(0, 0%, 10%, 0.3);
    outline : none;
    border-radius: 4px;
    transition: background-color .6s ease;
    cursor: pointer;
}

.form-check-input:checked{
    background-color: blue;
    position: relative;
}

.form-check-input:checked::after{
    content : '';
    position : absolute;
    top : 50%;
    left : 50%;
    width : 5px;
    height : 8px;
    border : solid white;
    border-width : 0 2px 2px 0;
    transform: rotate(45deg) translate(-100%, -25%);
}

.signin.acct-form .input-container:not(:last-of-type){
    margin-bottom: 15px;
}

.form-label{
    font-weight: 500;
    color : hsl(0,0%,30%);
    font-size: 1.1rem;
    width : fit-content;
    margin-bottom: 0px;
}

.form-control,
.form-select{
    width : 100%;
    padding : 10px 12px;
    font-size: 1rem;
    border : 1px solid hsla(0,0%,10%,.3);
    border-radius: 5px;
    margin-top: 10px;
}

.check-input-container .foem-label{
    font-size: clamp(.85rem, 2.5vw, 1.1rem);
}

.form-input{
    display: block;
    border: 1px solid hsla(0, 0%, 10%, 0.3);
    border-radius: 10px;
    padding : 7px 10px;
    font-size: 1rem;
    width : 100%;
}

input[type = "file"].form-input{
    display: inline-block;
    padding: 8px 17px;
    width: 140px;
    background-color: var(--variant-clr);
    color: hsla(0, 0%, 100%, 1);
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 12px;
    cursor: pointer;
    border-color: transparent;
    margin-top: 3px;
}

input[type = "file"].form-input::file-selector-button{
    display: none;
}

.form-submit-btn{
    padding: 10px ;
    border-radius: 40px;
    background-color: var(--btn-clr);
    color: hsl(0,0%,98%);
    /* width : 180px; */
    font-size: 1.1rem;
    box-shadow: 0px 3px 10px hsla(257, 100%, 61%, 0.5);
    /* margin : 30px 0px 30px; */
    margin-top: 5px;
}

.form-submit-btn.signin{
    margin-top : 25px;
    width : 100%;
}

/* .verify-form-wrapper{
    flex : 1;
    display: grid;
    align-items: center;
} */

.verify-head{
    font-size: clamp(2rem, 3vw, 2.8rem);
    margin-bottom: 20px;
    text-align: center;
}

.verify-form-container{
    border : 1px solid hsl(0 0% 70%);
    padding : 20px 25px;
    margin-inline: auto;    
    border-radius: 10px;
}

.verify-form-head{
    color: hsl(0, 0%, 30%);
    font-size: 1.2rem;
}

.otp-input{
    display: flex;
    gap : 10px;
    justify-content: space-between;
    margin-block : 15px
}

.otp-input input{
    width : min(16.66%, 50px);
    height : min(16.66%, 50px);
    border: 1px solid hsl(0 0% 50%);
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    padding-block: 10px;
}

.error {
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.1);
    color: hsl(0deg 0% 0% / 68%);
    border: 1px solid #e70000;
    border-radius: 10px;
}

.success{
    padding: 10px 20px;
    background-color: rgb(0 255 28 / 10%);
    color: hsl(0deg 0% 0% / 85%);
    border: 1px solid #019534;
    border-radius: 10px;
}

.error,
.success{
    margin-bottom: 15px;
}

.external-links-container{
    margin-bottom : 10px;
}

.signin.form-page .external-links-container{
    margin-bottom: 20px;
}

.external-links-text{
    color : hsl(0 0% 60%);
    font-size: 1.2rem;
    font-weight: 500;
}

.external-link{
    width : 40px;
    height : 40px;
    border: 1px solid hsl(0 0% 70%);
    display: flex;
    align-items: center;
    justify-content : center;
    border-radius: 50px;
}

.external-link svg{
    width : 20px;
    height : 20px;
}

.trans-down{
    transform: translateY(20px);
    opacity: 0;
    animation: moveUp 1s ease forwards;
}

.anim{
    animation: moveUp 1s ease forwards;
}

.animate{
    transform: translateY(20px);
    opacity: 0;
    will-change: opacity, transform
}

.trans{
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.in-view{
    transform: translateY(0);
    opacity: 1;    
    
}

.fixed-nav-container{
    position: fixed;
    width : 100%;
    bottom: 0;
    left : 0;
    background-color: hsl(0 0% 96%);
    display: none;
    z-index: 999;
    height : 60px;
    /* padding : 0px 0px; */
}

.fixed-nav-link{
    padding : 12px 20px;
    display: flex;
    flex-direction: column;
    gap : 0px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    min-width : fit-content; 
}

.fixed-nav-link:hover .fixed-nav-link-icon svg path{
    /* stroke: var(--btn-clr); */
    fill: var(--btn-clr);
} 

.fixed-nav-link:hover .fixed-nav-link-text{
    color: var(--btn-clr);
} 

.fixed-nav-link-icon{
    position: relative;
}

.fixed-nav-link-icon svg{
    width : 22px;
    height : 22px;
}

.fixed-nav-link-icon svg.settings-icon{
    width : 20px;
    height : 100%;
}

.fixed-nav-link-text{
    font-size : clamp(.75rem, 3.5vw, 1rem)
}

.cominfo-banner-section{
    height : 50vh;
    background: url("../img/bg-1.jpg") hsl(0,0%,10%, .6);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.privacy.cominfo-banner-section{
    background: url("../img/bg-2.jpg") hsl(0,0%,10%, .6);
}

.cominfo-title{
    font-size : clamp(3.7rem, 5.5vw, 5rem);
    color : hsla(0, 0%, 98%, 0.7);
    padding : 0px 5px;
    text-align: center;
}

.about-content-wrapper{
    padding : 20px 0px;
    width : 90%;
    max-width: 1200px;
    margin : 0 auto;
}

.about-content-container section{
    margin-bottom: 20px;
}

.soldout-text{
    font-size: 1.1rem;
    font-weight: 500;
    color: hsl(0, 0%, 10%, .8);
    display: inline-block;
    margin-top: 5px;
    border: 1px solid hsla(0, 0%, 10%, .2);
    padding: 2px 12px;
    flex: 1;
    min-width: fit-content;
    width : 20%
}

.section-head{
    font-size: 1.5rem;
    color: hsl(0, 0%, 20%);
}

.section-text{
    font-size: 1.1rem;
}

.offer-list li,
.offer-list strong{
    font-size: 1rem;
}

ul.offer-list{
    list-style: circle;
    padding-left: 40px;
}

.offer-list li{
    padding : 5px 0px
}

.mobile-search-container{
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100vh;
    background-color: hsl(0 0% 90%);
    z-index: 9999;
    display: none;
    padding: 20px;
    overflow-y: auto;
}

.mobile-search-container.reveal{
    display: block;
}

.cancel-search{
    width : 50px;
    height : 50px;
    border : 1px solid hsla(0, 0%, 10%, .3);
    border-radius: 50%;
}

.cancel-search svg{
    transform : rotate(45deg);
    width : 30px;
    height : 30px
}

.cancel-search svg path{
    stroke : hsl(0, 0%, 25%)
}

.location.accord-search-container{
    margin-top: 20px;
}

.accord-search-container{
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.accord-search-field{
    padding : 20px 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 15px;
}

.accord-search-val{
    font-size: 1.1rem;
    font-weight: 500;
    color: hsl(0, 0%, 30%);
}

input.accord-search-val{
    width : 75%;
    text-align: end;
    outline: none;
}

.accord-search-container .show-drop{
    position: static;
    padding: 5px 15px 15px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: none;
}

.accord-search-container .category_choice.show-drop{
    padding: 5px 0px 0px;
}

.location_mob-input{
    padding : 15px 12px;
    border : 1px solid hsla(0, 0%, 10%, .2);
    border-radius: 10px;
    display: block;
    width: 100%;
    font-size: 1rem;
}

.location-accord-search-input:focus-visible{
    border : 1px solid hsla(0, 0%, 10%, .2);
}

.accord-search-head{
    font-size : 1.6rem;
}

.date.accord-search-container .calendar{
    min-width: 100%;
}

.mobile-search-btn{
    background-color: var(--btn-clr);
    color: hsl(0, 0%, 98%);
    display: block;
    padding: 15px 0px;
    border-radius: 50px;
    font-size: 1.3rem;
    width: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 40px;
}

.experience-title-text{
    font-size: 2.2rem;
    font-weight : 500;
    text-transform: capitalize;
    margin-bottom: 0;
    line-height: 1.3;
}

.experience-li_details-div{
    margin : 10px 0px;
}

.li_details-text{
    color: hsla(0, 0%, 10%, .8);
    font-size: .9rem;
}

.li_details-span img{
    width : 15px;
    height: 15px;
}

.dashboard-page{
    padding : 20px 0px;
}

.page-head{
    font-weight: 500;
    font-size: 2.3rem;
    margin: 0px 0px 10px;
}

.experience-card{
    border: 1px solid hsla(0, 0%, 10%, .2);
    padding: 15px;
    max-width: 500px;
    border-radius: 5px;
    transition : box-shadow .3s ease;
}

.experience-card:hover{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.experience-card-head{
    margin : 0;
    font-size: 1.3rem;
    font-weight: 500;
}

.experience-card .btn{
    padding : 5px 30px
}

.btn{
    padding : 5px 12px;
    display: inline-block;
    border-radius: 5px;
}

.btn-black {
    background-color: black;
    color: white;
}
.btn-black:hover {
    background-color: #333;
    color : hsl(0, 0%, 96%)
}
.total-earning-text{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 25px 0px 15px;
}

.ern-table{
    border-collapse: collapse;
    width: 100%;
}

.ern-table th{
    text-align: left;
}

.ern-table th,td{
    border: 1px solid hsla(0, 0%, 10%, .3);
    padding : 10px 12px;
    font-size : clamp(.75rem, 2.5vw, 1.1rem)
}

.ern-table thead tr{
    background-color: hsl(0, 0%, 95%);
}

.policy-content-wrapper{
    padding : 20px 0;
}

.policy-content-container section{
    margin-bottom : 20px;
}

.effective-text{
    color: hsl(0, 0%, 35%);
    font-size: .9rem;
    margin-left: 10px;
}

.contact-page{
    padding : 30px 0px;
    background-color: hsl(0,0%,95%);
}

.util-form-container{
    width : 90%;
    max-width : 700px;
    background-color: white;
    margin: 0px auto;
    padding : 25px 35px;
    border-radius: 10px;
}

.comment.util-form-container{
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 35%);
    border-radius: 10px;
    max-width : 500px;
    margin: 0;
}

.rating-div {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: flex;
    justify-content: flex-end;
}

.rating-div input {
    display: none;
}

.rating-div label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}

.rating-div input:checked ~ label {
    color: gold;    
}

.rating-div label:hover,
.rating-div label:hover ~ label {
    color: gold;
}

.review-item{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin : 20px 0;
    max-width: 500px;
}

.name-review_item{
    color : hsl(0 0% 35%);
}

.star{
    font-size: 20px;
    line-height: 100%;
}

.star.gray{
    color : #ccc
}

.star.gold{
    color : gold
}

.util-form-container .page-head{
    text-align: center;
}

.form-control-container{
    margin-bottom: 10px;
}

.submit-btn{
    width : 100%;
    padding : 10px 0px;
    font-size: 1rem;
    letter-spacing: .5px;
}

.filter-container .form-control{
    width : auto;
    margin-top: 0px;
}

.geo-control-container{
    display: flex;
    gap : 15px;
    align-items : center;
    margin : 0px 10px 0px auto;
}

.language-span svg{
    width : 30px;
    height : 30px;
}

.currency-span svg{
    width : 20px;
    height : 20px;
}

.chat-system-container{
    position: fixed;
    bottom: 75px;
    right: 20px;
    z-index: 100;
}

.chat-box-container{
    width: 300px;
    height: 400px;
    margin-bottom: 12px;
    background-color: white;
    border-radius: 10px;
    overflow-x: hidden;
    box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 35%);
    visibility: hidden;
    transform: scale(0.3);
    transition: transform .2s ease-in, visibility .2s ease-in;
    display: none;
}

.chat-box-container.shrink{
    visibility: visible;
    transform: scale(1);
}

.chat-header{
    background-color: var(--logo-clr);
    color : hsl(0, 0%, 98%);
    /* padding : 12px 0px; */
    height: 12%
}


.chat-header span{
    font-size: 1.2rem;
    display: block;
    font-weight: 500;
    text-align: center;
}

.chat-main{
    max-height: 75%;
    overflow-y: auto;
    height: 75%;
    background-color: hsl(0, 0%, 93%);
    padding: 10px;
}

.chat-main::-webkit-scrollbar{
    width : 6px;
    background-color: hsl(0, 0%, 90%);
}

.chat-main::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 30%);
    border-radius: 10px;
}

.message{
    padding : 10px;
    margin: 5px 0;
    border-radius: 5px;
    color : hsl(0, 0%, 98%)
}

.message:nth-child(even){
    background-color: var(--variant-clr);
}

.message:nth-child(odd){
    background-color:#06b443;
}

.chat-form-container{
    height : 13%;
}

.chat-cta{
    background-color: var(--btn-clr);
    width: 60px;
    height : 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
}

.chat-cta svg{
    width : 30px;
    height : 30px;
}

.chat-form{
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* padding : 0px 10px; */
}

.chat-input{
    width : 83%;
    padding: 0px 5px 0px 10px;
    font-size: 1rem;
}

.chat-input:focus{
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

.submit-chat{
    width : 17%;
    background-color: var(--variant-clr);
}

.submit-chat svg{
    width : 25px;
    height : 25px;
}

.submit-chat svg path{
    stroke : hsl(0, 0%, 98%)
}

footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0 70px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px 0;
    /* transform: translateY(20px); */
    /* opacity: 0; */
}

.footer-section.links.flex-column{
    align-items: center;
}

.footer-section h2 {
    color: #f1f1f1;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-section p, 
.footer-section ul, 
.footer-section a {
    color: #bbb;
}

.footer-section a:hover {
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #bbb;
}

.footer-section ul li a:hover {
    color: #fff;
}

.socials {
    margin-top: 20px;
}

.socials a {
    color: #bbb;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
}

.socials a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 10px 5px;
    border-top: 1px solid #555;
}

.footer-bottom p {
    color: #bbb;
    font-size: 14px;
}

@media(max-width : 600px){
    .footer-section.links.flex-column{
        align-items: flex-start;
    }
}

.faq.main-page .cominfo-banner-section{
    height: 40vh;
    background-image: url("../img/bg-4.jpg");
}

.faq-content-container{
    padding: 20px 0px;
    --content-padding : 10px 15px;
}

.faq-head-title{
    font-size: clamp(2rem, 4.5vw, 2.8rem);
    text-align: center;
    margin-bottom: 0;
}

.faq-head-subtext{
    text-align: center;
    font-size : .9rem;
    color : hsl(0, 0%, 35%);
    margin-top: 0;
}

.faq-content-div{
    margin-top: 50px;
}

.faq-content-item{
    border-radius : 5px;
    overflow: hidden;
}

.faq-item-head{
    background-color : hsla(257, 77%, 48%, 0.2);
    padding : var(--content-padding);
    cursor: pointer;
}

.faq-item-head.flex-between{
    align-items: center;
}

.faq-item-head-text{
    color : hsl(257deg 93.57% 3.88%);
    font-size: 1.2rem;
    font-weight: 500;
}

.faq-item-plus{
    background-color: hsla(257, 77%, 48%, 0.3);
    min-width : 40px;
    height : 40px;
    border-radius: 50%;
}

.faq-item-plus svg{
    width : 25px;
    height : 25px;  
}

.faq-item-plus svg path{
    stroke : var(--btn-clr)
}


.faq-content-item-details{
    background-color: hsla(257, 77%, 48%, 0.4);
    /* padding : var(--content-padding); */
    position: relative;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height .5s ease;
    /* margin-bottom: 20px; */

}

.faq-content-item-details-text{
    padding: 10px 20px;
    font-size: 1.1rem;
    color: hsl(256, 85%, 3% / 1);
}

.faq-content-item-details.lengthen{
    max-height : 300px;
    overflow-y: auto;
}

.faq-content-item-details::-webkit-scrollbar{
    width : 7px;
    background-color: hsla(0, 0%, 70%, 0.8);
    border-radius: inherit;

}

.faq-content-item-details::-webkit-scrollbar-thumb{
    background-color: hsla(257, 77%, 48%, 0.5);
    border-radius: 10px;
}

.faq-content-item-details::after{
    content : '';
    position: absolute;
    left : 0;
    top: 0;
    width : 5px;
    height : 100%;
    border-radius: 10px;
    background-color: var(--btn-clr);
}

.exp-profile-info-wrapper{
    margin : 5px 0px
}

.exp-profile-info-img-container{
    position: relative;
}

.exp-profile-info-img{
    width: 45px;
    height : 45px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.online-indicator{
    position: absolute;
    bottom: 0px;
    right: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #06d229;
}

.exp-profile-info-name{
    color: hsl(0, 0%, 30%);
    font-size: .85rem;
}

.vendor-form-wrapper{
    padding: 30px 0px;
}

.bs{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.vendor.input-container{
    flex-direction: row;
    margin-bottom: 20px;
}

.vendor.form-select{
    appearance: none;
    -webkit-appearance: none;
    background-image: url("../img/arrow-45-icon.svg");
    background-repeat: no-repeat;
    background-size: 25px 20px;
    background-position: right .5rem center;

}

.watchlist-page{
    background-color: hsl(0, 0%, 98%);
    padding : 20px;
}

.watchlist-page-head-text{
    margin: 0;
    font-weight: 500;
    font-size: clamp(2.6rem, 4.5vw, 3rem);
    line-height: 1.2;
}

.watchlist-item-container{
    margin-top : 40px;
}

.watchlist-item{
    height : 400px;
    margin-bottom: 20px;
}

.watchlist-item-img-div{
    width : 43%
}

.watchlist-item-details-div{
    width : 54%
}

.watchlist-item-title{
    font-size: clamp(1.8rem, 3.5vw, 2.2rem);
    font-weight: 400;
    margin: 0;
}

.watchlist-item-desc{
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.watchlist-item-price{
    margin: 10px 0px;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
}

.watchlist-item-date-div{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.watchlist-item-date-div p{
    font-size: 1.1rem;
    color: hsla(0, 0%, 10%, .8);
    margin: 0;
}

.watchlist-item-date-div strong{
    color: hsl(0, 0%, 20%);
    font-weight: 500;
}

.cart.location-span{
    margin-top : 15px;
}

.cart-location-span-text{
    color: hsla(0, 0%, 10%, .9);
    font-size: 1rem;
}

.location-icon-img{
    width : 20px;
    height : 20px;
}

.watchlist-item-img{
    width : 100%;
    max-height : 100%;
    object-fit: cover;
    object-position: center; 
    border-radius : 10px;
}

.message-system-page{
    background-color: hsl(0, 0%, 0%);
    color : hsl(0, 0%, 100%);
    min-height: 100vh;
    padding: 10px 0px;
}

.vendor-chat-head{
    margin : 0 10px;
    font-weight: 500;
    font-size: clamp(2rem, 3.5vw, 2.6rem);
    line-height: 70px;
    text-align: center;
}

.message-system.wrapper{
    height: calc(100vh - 100px);
    background-color: hsl(0, 0%, 10%);
    border-radius: 10px;
    overflow: hidden;
}

.message-system-head{
    display : flex;
    align-items: center;
    gap : 12px;
    padding : 10px 12px;
    background-color: hsl(0, 0%, 15%);
    height : 12%; 
}

.message-profile-img{
    width : 30px;
    height : 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.message-platform-container{
    height: 75%;
    max-height: 75%;
    overflow-y: auto;
    /* margin: 10px 0px; */
    background-color: hsl(0, 0%, 20%);
    padding: 0px 10px;
}

.message-platform-container::-webkit-scrollbar{
    width : 7px;
    background-color: hsla(0, 0%, 70%, 0.8);
    border-radius: inherit;

}

.message-platform-container::-webkit-scrollbar-thumb{
    background-color: hsla(0, 0%, 10%, .6);
    border-radius: 10px;
}

.message-system-form{
    background-color: hsl(0,0%,15%);
    padding : 5px 12px;
    height : 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input.message-system-type-input{
    width: 90%;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .4);
    outline: none;
    color: hsl(0,0%,98%);
    font-size: 1rem;
}

.empty-watchlist-div{
    height : 400px;
    
}

.empty-watchlist-span{
    font-size: clamp(2.2rem, 3.5vw, 3.5rem);
    color: hsl(0, 0%, 10%, .5);
    text-align: center;

}

/* .experience-card-details-head{
    color: hsla(0, 0%, 10%, .8);
    font-weight: 500;
}

.experience-card-details-text{
    margin-top : 0;
} */

@keyframes moveUp {
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade {
    0%, 100%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }
}

@media(max-width : 1200px){
    .nav-links-container{
        display: none;
    }

    .mobile.nav-links-container{
        display: block;
    }

    .mobile.hamburger{
        display: flex;
    }

    .profile-container{
        display: none;
    }

    .watchlist-container{
        display: none;
    }
    .category-container{
        display: none;
    }

    .mobile.category-container{
        display: flex;
    }
}

@media(max-width : 1000px){
    .form-graphics-container{
        display: none;
    }

    .mobile.logo-container{
        display: flex;
    }
/* 
    .verify.form-graphics-container{
        display: flex;
    } */

    .acct-form-wrapper{
        width : 100%;
        padding : 20px 25px;
        border-radius: inherit;
        max-width: 500px;

    }

    .form-cta-wrapper{
        gap : 5px
    }

    .form-cta-text{
        font-size: .85rem;
    }
}

@media(max-width : 950px){
    .nav{
        padding : 10px 30px;
    }

    .fixed-nav-container{
        display: flex;
    }
    .product-desc-container{
        flex-direction: column;
    }
    .product-desc-container div.details-info-wrapper{
        width : 100%;
    }
    .product-desc-container div.booking-section-container{
        width : 100%;
    }
    .camera-icon::after{
        transform: translate(-50%, -50%);
    }

    .watchlist-item{
        height : auto;
    }

    .watchlist-item.flex-between{
        flex-direction: column;
        gap : 20px
    }
    
    .watchlist-item-img-div{
        width : 100%;
    }

    .watchlist-item-img{
        height : 300px;
    }
    
    .watchlist-item-details-div{
        width : 100%
    }
}

@media(max-width : 500px){
   .input-side-container{
        flex-direction: column;
   }

   .input-side-container .input-container{
        width: 100%;
        margin-bottom: 15px;
   }

   .profile-form.flex-column{
        gap : 0px;
   }

   .mobile.category-container{
        margin-top: 20px;
   }

   .util-card-wrapper{
        width : 90%;
   }

   .fixed-nav-link{
        padding : 7px 20px;
   }

    div:focus,
    span:focus {
        outline: none;
    }

    div,span{
        -webkit-tap-highlight-color: transparent; /* For mobile */
    }

    .util-card-container.grid{
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .profile-picture-img{
        width : 100px;
        height : 100px;
    }
}

@media(max-width : 400px){
    .otp-input input{
        width : 30px;
        height: 35px
    }

    .nav{
        padding : 10px 15px;
    }

    .login-link{
        padding: 7px 20px;
    }

    .profile-cta-container.flex{
        gap : 10px
    }

}

@media(max-width : 350px){
    .otp-input input{
        width : 26px;
        height: 30px
    }

    .profile-picture-img{
        min-width : 100px;
        height : 100px;
    }
}